
<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%- title %></title>
    <meta name="description" content="Descubra a programação na LOGN, onde acreditamos que aprender vai além de códigos; é sobre resolver problemas e criar soluções inovadoras. Nossa missão é inspirar e capacitar programadores habilidosos em um ambiente acolhedor, encorajando perguntas e promovendo uma abordagem didática que combina teoria e prática. Localizada em um ambiente seguro e acessível, a LOGN oferece a base ideal para uma experiência de aprendizado enriquecedora. Junte-se a nós nessa jornada educacional emocionante">
    <meta name="author" content="Logn"/>
    <meta name="robot" content="index,follow"/>
    <meta name="keywords" content="curso de programação,curso de C#, C#,c#,programação para iniciantes,programação,desenvolvimento de software,back-end,curso básico de programação, logn, algoritmos, estrutura de dados"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="image" content="https://logn.com.br/images/slider/slider_bg.jpg" />
    <meta name="canonical" content="https://logn.com.br/LP"/>
    <!-- OG::tags -->
    <meta property="og:title" content="<%- title %>"/>
    <meta property="og:description" content="Descubra a programação na LOGN, onde acreditamos que aprender vai além de códigos; é sobre resolver problemas e criar soluções inovadoras. Nossa missão é inspirar e capacitar programadores habilidosos em um ambiente acolhedor, encorajando perguntas e promovendo uma abordagem didática que combina teoria e prática. Localizada em um ambiente seguro e acessível, a LOGN oferece a base ideal para uma experiência de aprendizado enriquecedora. Junte-se a nós nessa jornada educacional emocionante" />
    <meta property="og:image" content="https://logn.com.br/images/slider/slider_bg.jpg" />
    <meta property="og:url" content="https://logn.com.br/LP" />
    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png">

    <!-- CSS here -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/animate.min.css">
    <link rel="stylesheet" href="/stylesheets/magnific-popup.css">
    <link rel="stylesheet" href="/stylesheets/fontawesome-all.min.css">
    <link rel="stylesheet" href="/stylesheets/swiper-bundle.css">
    <link rel="stylesheet" href="/stylesheets/tg-cursor.css">
    <link rel="stylesheet" href="/stylesheets/jquery-ui.css">
    <link rel="stylesheet" href="/stylesheets/odometer.css">
    <link rel="stylesheet" href="/stylesheets/slick.css">
    <link rel="stylesheet" href="/stylesheets/flaticon.css">
    <link rel="stylesheet" href="/stylesheets/spacing.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/hack.css">

    <!-- Page-Revealer -->
    <script src="/javascripts/tg-page-head.js"></script>
</head>

<body>


    <!-- Scroll-top -->
    <button class="scroll__top scroll-to-target" data-target="html">
        <i class="flaticon-right-arrow"></i>
    </button>
    <!-- Scroll-top-end-->

    <%- include('./includes/inc.header.ejs') %>



    <!-- main-area -->
    <main class="main--area">

        <%- include('./includes/inc.banner.ejs') %>


        <!-- services-area -->
        <section class="services-area services__bg-color section-pt-120 section-pb-120">
            <div class="container">
                <div class="row align-items-end align-items-xl-start">
                    <div class="col-lg-12">
                        <div class="section__title text-start mb-65">
                            <span class="sub-title tg__animate-text">sobre a LOGN</span>
                            <h3 class="title">fundada em 2022</h3>
                            <p>Acreditamos que aprender a programar é mais do que apenas escrever códigos; é sobre resolver problemas, pensar de forma lógica e criar soluções inovadoras para o mundo.</p>
                        </div>
                        <div class="services__wrapper">
                            <div class="services__item">
                                <div class="services__icon">
                                    <i class="fas fa-medal"></i>
                                </div>
                                <div class="services__content">
                                    <h4 class="title"><a href="javascript:void(0)">Nossa Missão</a></h4>
                                    <p>Inspirar e capacitar pessoas a se tornarem programadores habilidosos e inovadores.</p>
                                </div>
                            </div>
                            <div class="services__item">
                                <div class="services__icon">
                                    <i class="far fa-smile"></i>
                                </div>
                                <div class="services__content">
                                    <h4 class="title"><a href="javascript:void(0)">Ambiente acolhedor</a></h4>
                                    <p>Estimulamos os alunos a fazer perguntas e criamos um ambiente seguro e acolhedor para que eles não tenham medo de errar!</p>
                                </div>
                            </div>
                            <div class="services__item">
                                <div class="services__icon">
                                    <i class="fas fa-book"></i>
                                </div>
                                <div class="services__content">
                                    <h4 class="title"><a href="javascript:void(0)">Didática</a></h4>
                                    <p>Combinamos teoria e prática para garantir que os alunos aprendam de verdade.</p>
                                </div>
                            </div>
                            <div class="services__item">
                                <div class="services__icon">
                                    <i class="fas fa-map-marker-alt"></i>
                                </div>
                                <div class="services__content">
                                    <h4 class="title"><a href="javascript:void(0)">Localização</a></h4>
                                    <p>A LOGN está localizada em um ambiente seguro e de fácil acesso.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-lg-6">
                        <div class="services__images">
                            <div class="services__images-item active">
                                <img src="/images/others/services_img01.jpg" alt="img">
                            </div>
                            <div class="services__images-item">
                                <img src="/images/others/services_img02.jpg" alt="img">
                            </div>
                            <div class="services__images-item">
                                <img src="/images/others/services_img03.jpg" alt="img">
                            </div>
                            <div class="services__images-item">
                                <img src="/images/others/services_img04.jpg" alt="img">
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </section>
        <!-- services-area-end -->

    </main>
    <!-- main-area-end -->

    <%- include('./includes/inc.footer.ejs') %>

    <!-- JS here -->
    <script src="/javascripts/vendor/jquery-3.6.0.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/jquery.magnific-popup.min.js"></script>
    <script src="/javascripts/jquery.countdown.min.js"></script>
    <script src="/javascripts/jquery.waypoints.min.js"></script>
    <script src="/javascripts/jquery.odometer.min.js"></script>
    <script src="/javascripts/simpleParallax.min.js"></script>
    <script src="/javascripts/jquery-ui.min.js"></script>
    <script src="/javascripts/gsap.min.js"></script>
    <script src="/javascripts/scrollTrigger.min.js"></script>
    <script src="/javascripts/splitText.min.js"></script>
    <script src="/javascripts/jquery.appear.js"></script>
    <script src="/javascripts/tg-cursor.min.js"></script>
    <script src="/javascripts/swiper-bundle.js"></script>
    <script src="/javascripts/jarallax.min.js"></script>
    <script src="/javascripts/parallax.min.js"></script>
    <script src="/javascripts/slick.min.js"></script>
    <script src="/javascripts/ajax-form.js"></script>
    <script src="/javascripts/vivus.min.js"></script>
    <script src="/javascripts/wow.min.js"></script>
    <script src="/javascripts/main.js"></script>
</body>

</html>