<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%- title %></title>
    <meta name="description" content="Explore oportunidades de aprendizado excepcionais em nossa plataforma de cursos! Descubra uma variedade de programas projetados para inspirar e capacitar, cobrindo desde fundamentos essenciais até habilidades avançadas. Nossa abordagem educacional combina teoria e prática, oferecendo uma experiência de aprendizado envolvente e aplicável ao mundo real. Junte-se a nós para aprimorar suas habilidades e alcançar seus objetivos educacionais. Aprenda com os melhores instrutores e prepare-se para uma jornada educacional transformadora!">
    <meta name="author" content="Logn"/>
    <meta name="robot" content="index,follow"/>
    <meta name="keywords" content="curso de programação,curso de C#, C#,c#,programação para iniciantes,programação,desenvolvimento de software,back-end,curso básico de programação, logn, algoritmos, estruturas de dados"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="image" content="https://logn.com.br/images/slider/slider_bg.jpg" />
    <meta name="canonical" content="https://logn.com.br/LP"/>
    <!-- OG::tags -->
    <meta property="og:title" content="<%- title %>"/>
    <meta property="og:description" content="Explore oportunidades de aprendizado excepcionais em nossa plataforma de cursos! Descubra uma variedade de programas projetados para inspirar e capacitar, cobrindo desde fundamentos essenciais até habilidades avançadas. Nossa abordagem educacional combina teoria e prática, oferecendo uma experiência de aprendizado envolvente e aplicável ao mundo real. Junte-se a nós para aprimorar suas habilidades e alcançar seus objetivos educacionais. Aprenda com os melhores instrutores e prepare-se para uma jornada educacional transformadora!" />
    <meta property="og:image" content="https://logn.com.br/images/slider/slider_bg.jpg" />
    <meta property="og:url" content="https://logn.com.br/LP" />
    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png">

    <!-- CSS here -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/animate.min.css">
    <link rel="stylesheet" href="/stylesheets/magnific-popup.css">
    <link rel="stylesheet" href="/stylesheets/fontawesome-all.min.css">
    <link rel="stylesheet" href="/stylesheets/swiper-bundle.css">
    <link rel="stylesheet" href="/stylesheets/tg-cursor.css">
    <link rel="stylesheet" href="/stylesheets/jquery-ui.css">
    <link rel="stylesheet" href="/stylesheets/odometer.css">
    <link rel="stylesheet" href="/stylesheets/slick.css">
    <link rel="stylesheet" href="/stylesheets/flaticon.css">
    <link rel="stylesheet" href="/stylesheets/spacing.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/hack.css">

    <!-- Page-Revealer -->
    <script src="/javascripts/tg-page-head.js"></script>
</head>

<body>


    <!-- Scroll-top -->
    <button class="scroll__top scroll-to-target" data-target="html">
        <i class="flaticon-right-arrow"></i>
    </button>
    <!-- Scroll-top-end-->

    <%- include('./includes/inc.header.ejs') %>



    <!-- main-area -->
    <main class="main--area">

        <%- include('./includes/inc.banner.ejs') %>

        <!-- team-area -->
        <!-- <section class="team__area team-bg section-pt-130 section-pb-100" data-background="/images/bg/team_bg.jpg"> -->
        <section class="team__area team-bg section-pb-100"></section>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-lg-7 col-md-10">
                        <div class="section__title text-center mb-60">
                            <!-- <span class="sub-title tg__animate-text">our team member</span> -->
                            <h3 class="title">Cursos</h3>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-xl-3 col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay=".8s">
                        <div class="team__item">
                            <div class="team__thumb">
                                <a href="/educa/curso/programacao-para-iniciantes"><img class="my-card-img" src="/images/cursos/curso1.svg" alt="img" width="224" height="224"></a>
                            </div>
                            <div class="team__content">
                                <h4 class="name"><a href="/educa/curso/programacao-para-iniciantes">Fundamentos de programação</a></h4>
                                <span class="designation">Presencial</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay=".8s">
                        <div class="team__item">
                            <div class="team__thumb">
                                <a href="/educa/curso/plataforma-de-cursos"><img class="my-card-img" src="/images/cursos/curso2.svg" alt="img" width="224" height="224"></a>
                            </div>
                            <div class="team__content">
                                <h4 class="name"><a href="/educa/curso/plataforma-de-cursos">Plataforma de cursos</a></h4>
                                <span class="designation">Online</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- team-area-end -->

    </main>
    <!-- main-area-end -->


    <%- include('./includes/inc.footer.ejs') %>



    <!-- JS here -->
    <script src="/javascripts/vendor/jquery-3.6.0.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/jquery.magnific-popup.min.js"></script>
    <script src="/javascripts/jquery.countdown.min.js"></script>
    <script src="/javascripts/jquery.waypoints.min.js"></script>
    <script src="/javascripts/jquery.odometer.min.js"></script>
    <script src="/javascripts/simpleParallax.min.js"></script>
    <script src="/javascripts/jquery-ui.min.js"></script>
    <script src="/javascripts/gsap.min.js"></script>
    <script src="/javascripts/scrollTrigger.min.js"></script>
    <script src="/javascripts/splitText.min.js"></script>
    <script src="/javascripts/jquery.appear.js"></script>
    <script src="/javascripts/tg-cursor.min.js"></script>
    <script src="/javascripts/swiper-bundle.js"></script>
    <script src="/javascripts/jarallax.min.js"></script>
    <script src="/javascripts/parallax.min.js"></script>
    <script src="/javascripts/slick.min.js"></script>
    <script src="/javascripts/ajax-form.js"></script>
    <script src="/javascripts/vivus.min.js"></script>
    <script src="/javascripts/wow.min.js"></script>
    <script src="/javascripts/main.js"></script>
</body>

</html>