<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%- title %></title>
    <meta name="description" content="eSports and Gaming NFT Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png">

    <!-- CSS here -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/animate.min.css">
    <link rel="stylesheet" href="/stylesheets/magnific-popup.css">
    <link rel="stylesheet" href="/stylesheets/fontawesome-all.min.css">
    <link rel="stylesheet" href="/stylesheets/swiper-bundle.css">
    <link rel="stylesheet" href="/stylesheets/tg-cursor.css">
    <link rel="stylesheet" href="/stylesheets/jquery-ui.css">
    <link rel="stylesheet" href="/stylesheets/odometer.css">
    <link rel="stylesheet" href="/stylesheets/slick.css">
    <link rel="stylesheet" href="/stylesheets/flaticon.css">
    <link rel="stylesheet" href="/stylesheets/spacing.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/hack.css">

    <!-- Page-Revealer -->
    <script src="/javascripts/tg-page-head.js"></script>
</head>

<body>


    <!-- Scroll-top -->
    <button class="scroll__top scroll-to-target" data-target="html">
        <i class="flaticon-right-arrow"></i>
    </button>
    <!-- Scroll-top-end-->

    <%- include('./includes/inc.header.ejs') %>



    <!-- main-area -->
    <main class="main--area">

        <%- include('./includes/inc.banner.ejs') %>

        <!-- services-details-area -->
        <section class="services__details-area section-pt-120 section-pb-120" data-background="/images/bg/team_details_bg.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="team__details-content">
                            <span class="sub-title">Aconteceu algo terrivel</span>
                            <h2 class="title" style="font-size: 35px"><%- message %></h2>
                            <div class="about__buttons">
                                <a href="/" class="tg-btn-2">Voltar para página inicial!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- services-details-area-end -->

    </main>
    <!-- main-area-end -->


    <%- include('./includes/inc.footer.ejs') %>

    <!-- JS here -->
    <script src="/javascripts/vendor/jquery-3.6.0.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/jquery.magnific-popup.min.js"></script>
    <script src="/javascripts/jquery.countdown.min.js"></script>
    <script src="/javascripts/jquery.waypoints.min.js"></script>
    <script src="/javascripts/jquery.odometer.min.js"></script>
    <script src="/javascripts/simpleParallax.min.js"></script>
    <script src="/javascripts/jquery-ui.min.js"></script>
    <script src="/javascripts/gsap.min.js"></script>
    <script src="/javascripts/scrollTrigger.min.js"></script>
    <script src="/javascripts/splitText.min.js"></script>
    <script src="/javascripts/jquery.appear.js"></script>
    <script src="/javascripts/tg-cursor.min.js"></script>
    <script src="/javascripts/swiper-bundle.js"></script>
    <script src="/javascripts/jarallax.min.js"></script>
    <script src="/javascripts/parallax.min.js"></script>
    <script src="/javascripts/slick.min.js"></script>
    <script src="/javascripts/ajax-form.js"></script>
    <script src="/javascripts/vivus.min.js"></script>
    <script src="/javascripts/wow.min.js"></script>
    <script src="/javascripts/main.js"></script>
</body>

</html>